**/.git
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.gitignore
README.md
notebooks/
tests/
data/
# models/
deployment/

certs/
out.txt
data/
deployment/
models/*.meta.json
data/samples/
deployment/terraform/.terraform/
deployment/ansible/roles/
.env*
*.ipynb_checkpoints
.DS_Store
Thumbs.db

